Django>=4.2,<5.0
beautifulsoup4>=4.12.0
requests>=2.31.0
Pillow>=10.0.0
python-dotenv>=1.0.0
google-generativeai
django-storages[google]
django-tailwind[reload]
django-taggit
djangorestframework
boto3
colorgram.py
playwright
toml
PyYAML
dj-database-url
psycopg2-binary
