<div class="join join-vertical w-full {{ .css_classes }}">
    {{ $id := .id }}
    {{ $allowMultiple := .allow_multiple }}
    {{ range .items }}
    <div class="collapse collapse-arrow join-item border border-base-300">
        <input type="{{ if $allowMultiple }}checkbox{{ else }}radio{{ end }}" name="accordion-{{ $id }}" /> 
        <div class="collapse-title text-xl font-medium">
            {{ .title }}
        </div>
        <div class="collapse-content"> 
            <div class="prose max-w-none">
                {{ .content | safeHTML }}
            </div>
        </div>
    </div>
    {{ end }}
</div>