{{ if .block_type }}
    {{ $partialPath := printf "blocks/%s.html" .block_type }}
    {{ if templates.Exists (printf "partials/%s" $partialPath) }}
        <div class="cms-block-wrapper" data-block-id="{{ .id }}" style="display: contents;">
            {{ partial $partialPath . }}
        </div>
    {{ else }}
        <div class="p-4 border border-red-200 bg-red-50 text-red-700 rounded my-4">
            <strong>Missing Block Template:</strong> {{ .block_type }}
        </div>
    {{ end }}
{{ end }}